.titleOfDialog {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #D5D5D5;
    text-align: center;
    margin-bottom: 24px;
}
.titleOfAbout {
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    color: #D5D5D5;
    text-align: center;
}
.titleOfOutputTextArea {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #D5D5D5;
    text-align: center;
    margin-bottom: 0;
}
.versionOfGlycanBuilder2Web {
    width: 100%;
    font-size: 14px;
    color: #D5D5D5;
    text-align: center;
    margin-bottom: 28px;
}
.textAreaOfDialog {
    width: 470px;
    color: #D5D5D5;
    margin: 0;
}
.textAreaOfComposition {
    color: #D5D5D5;
    margin: 0;
}
.fullNameOfTextAreaOnLeft {
    margin-left: 16px;
}
.fullNameOfTextAreaOnRight {
    margin: 0 0 0 38px;
}
.omitNameOfPentose {
    margin: 0 47px 0 121px;
}
.omitNameOfHexuronicAcid {
    margin: 0 69px 0 120px;
}
.omitNameOfHexose {
    margin: 0 47px 0 124px;
}
.omitNameOfDehydroHexuronicAcid {
    margin: 0 59px 0 55px;
}
.omitNameOfHeptose {
    margin: 0 45px 0 117px;
}
.omitNameOfNGlycolylNeuraminicAcid{
    margin: 0 50px 0 32px;
}
.omitNameOfHexosamine {
    margin: 0 35px 0 90px;
}
.omitNameOfNAcetylNeuraminicAcid {
    margin: 0 51px 0 43px;
}
.omitNameOfNAcetylHexoamine {
    margin: 0 16px 0 32px;
}
.omitNameOfLactonizedNeu5Gc {
    margin: 0 16px 0 91px;
}
.omitNameOfDeoxyPentose {
    margin: 0 37px 0 73px;
}
.omitNameOfLactonizedNeu5Ac {
    margin: 0 20px 0 92px;
}
.omitNameOfDeoxyHexose {
    margin: 0 36px 0 77px;
}
.omitNameOfKDO {
    margin: 0 73px 0 195px;
}
.omitNameOfDiDeoxyHexose {
    margin: 0 27px 0 60px;
}
.omitNameOfKDN {
    margin: 0 75px 0 193px;
}
.omitNameOfMethylHexose {
    margin: 0 24px 0 70px;
}
.omitNameOfMuramicAcid {
    margin: 0 75px 0 131px;
}
.textOfDisplayType {
    margin: 0 210px 8px 16px;
}
.textOfShowLinkageInfo {
    margin: 0 154px 8px 16px;
}
.textOfResidueSize {
    margin: 0 196px 0 16px;
}
.textOfResidueTextSize {
    margin: 0 165px 0 16px;
}
.textOfCompositionTextSize {
    margin: 0 130px 0 16px;
}
.textOfLinkageInfoTextSize {
    margin: 0 134px 0 16px;
}
.textOfSpaceBetweenResidues {
    margin: 0 112px 0 16px;
}
.textOfSpaceBetweenBorderResidues {
    margin: 0 59px 0 16px;
}
.textOfSpaceBetweenStructures {
    margin: 0 100px 0 16px;
}
.textOfSpaceBeforeMass {
    margin: 0 118px 0 16px;
}
.textOfMassTextSize {
    margin: 0 183px 0 16px;
}
.imageContainer {
    overflow: auto;
    max-width: 500px;
    max-height: 300px;
    border: 1px solid #D5D5D5;
    border-radius: 4px;
    background: #636363;
    margin: 0 auto 12px;
}
.canvasContainer {
    overflow: auto;
    max-width: 500px;
    max-height: 300px;
    border: 1px solid #D5D5D5;
    border-radius: 4px;
    background: #636363;
    margin: 24px auto 24px; 
}
.okAnchor {
	height: 26px;
    font-size: 12px;
    color: #D5D5D5;
    text-align: center;
    line-height: 26px;
    min-width: 24px;
    border-radius: 2px;
    border: 1px solid #707070;
    background: #00000000;
    margin: 0 8px 0 16px;
    padding: 0 20px 0;
}
.okAnchor:hover {
    color: #FFF;
    text-decoration: none;
    background: #707070;
}
.minRepetitionsText {
    margin-right: 3px;
}
.secondBondIsNotChecked {
    display: none;
}
.secondBondIsChecked {
    display: block;
}
iframe {
    border: 0;
}